<div class="container">
  <h2 mat-dialog-title>Task details</h2>
  <form [formGroup]="taskForm" class="example-form">

  <mat-dialog-content>
      <label>Task Name
        <input type="text" id="name" formControlName="taskName" [(ngModel)]="newTask.taskName"/>
      </label>
      <label>Task Description
        <input type="text" id="description" placeholder="" formControlName="taskDescription" [(ngModel)]="newTask.taskDescription" />
      </label>
      <h3>Icon</h3>

    <img src="../assets/man-technologist-light-skin-tone.png" #man class="icons" (click)="selectIcon(man)" imgSrc="../assets/man-technologist-light-skin-tone.png"/>
    <img src="../assets/message.png" #message class="icons" (click)="selectIcon(message)" />
    <img src="../assets/hot-beverage.png" #beverage class="icons" (click)="selectIcon(beverage)" />
    <img src="../assets/person-lifting-weights.png" #person class="icons" (click)="selectIcon(person)" />
    <img src="../assets/books.png" #books class="icons" (click)="selectIcon(books)" />
    <img src="../assets/clock.png" #clock class="icons" (click)="selectIcon(clock)" />


    <h3>Status</h3>
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button class="statusButton" type="button" value="In Progress" (click)="chooseStatus('In Progress')">
              <img src="../assets/Time_atack_duotone.svg" width="20px" height="20px" class="icons"
                style="background-color: #E9A23B;" />
              In Progress
            </button>
          </div>
          <div class="example-button-container">
            <button class="statusButton" type="button" value="Completed" (click)="chooseStatus('Completed')">
              <img src="../assets/Done_round_duotone.svg" width="20px" height="20px" class="icons"
                style="background-color: #32D657;" />
              Completed
            </button>
          </div>
          <div class="example-button-container">
            <button class="statusButton"type="button" value="Won't do" (click)="chooseStatus('Won\'t do')">
              <img src="../assets/close_ring_duotone.svg" width="20px" height="20px" class="icons"
                style="background-color: #DD524C;" />
              Won’t do
            </button>
          </div>
        </div>
      </div>
    </section>



  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="close" mat-dialog-close>
      Delete
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete" class="dialogAction"></mat-icon>
    </button>
    <button class="close" type="submit" [mat-dialog-close]="taskForm">Save
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="check" class="dialogAction"></mat-icon>
    </button>

  </mat-dialog-actions>

</form>


</div>