@for (task of tasks;track task.title){
    <div class="task-item" [style.background-color]="setTaskBgColor(task)" (click)="openEditDialog(task)" >
        <img src="{{task.icon}}" width="20px" height="20px" class="icon-img"/>
        <p style="display: inline-block;">{{task.title}}</p>
        @if(task.statusIcon[0]!=""){
            <img src="{{task.statusIcon[0]}}" width="20px" height="20px" class="statusIcon" [style.background-color]="task.statusIcon[1]" />

         }
        @if(task.description!=''){
            <p style="font-weight: normal; margin: 0px 80px 0px 60px;">{{task.description}}</p>
        }
        <!-- <button style="margin-left: 30px; text-align: right;" type="button" (click)="deleteTask(task)">Completed</button> -->
        

    </div>
   
}

<div class="task-item" style="background-color:#F5D565;">
    <!-- <app-dialog></app-dialog> -->
    <img src="../assets/Add_round_duotone.svg" width="20px" height="20px" class="icon-img" style="background-color: #E9A23B;" (click)="openDialog()"/>
    <!-- <img src="../assets/Add_round_duotone.svg" width="20px" height="20px" class="icon-img" style="background-color: #E9A23B;"/> -->
    <p style="display: inline-block;">Add new Task</p>
    <!-- <button style="margin-left: 30px; text-align: right;" type="button" (click)="deleteTask(task)">Completed</button> -->

</div>


<!-- <app-completed [completedTasks]="finishedTasks"></app-completed> -->

