.task-item{
    /* background-color: #F5D565; */
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    width: 500px;
    margin: 15px auto;
    text-align: left;
    padding: 10px;
}

.icon-img{
    background-color: white;
    background-clip: border-box;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10px;
    vertical-align: middle;


}

.statusIcon{
    background-clip: border-box;
    padding: 10px;
    /* margin: 0px 0px 0px 20px; */
    float: right;
    margin: 5px 20px;
    /* margin-right: 20%; */
    border-radius: 10px;
    vertical-align: middle;

}